In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [2]:
# Option 1: Load the Excel data
df = pd.read_excel('excel_sample_data_de.xlsx', sheet_name = 'sql_test-raw')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   month       48 non-null     datetime64[ns]
 1   product     48 non-null     object
 2   store_code  48 non-null     object
 3   category    48 non-null     object
 4   sales_qty   48 non-null     int64
 5   sales_amt   48 non-null     int64
 6   sales_cost  48 non-null     int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 2.8+ KB

       month product store_code  category  sales_qty  sales_amt  sales_cost
0 2025-01-25   ProdA       S001  Beverage        120        600         360
1 2025-01-25   ProdB       S001  Beverage        140        700         420
2 2025-01-25   ProdC       S002     Snack        180        720         450
3 2025-01-25   ProdD       S003     Snack        150        600         370
4 2025-01-25   ProdE       S004     Dairy        200       1000         650

In [3]:
# Calculate profit
df['profit'] = df['sales_amt'] - df['sales_cost']
df.head()

,month,product,store_code,category,sales_qty,sales_amt,sales_cost,profit
0,2025-01-25,ProdA,S001,Beverage,120,600,360,240
1,2025-01-25,ProdB,S001,Beverage,140,700,420,280
2,2025-01-25,ProdC,S002,Snack,180,720,450,270
3,2025-01-25,ProdD,S003,Snack,150,600,370,230
4,2025-01-25,ProdE,S004,Dairy,200,1000,650,350

In [4]:
# Calculate the 4 contribution metrics by category and month
df['sales qty contribution by category'] = df.groupby(['category', 'month'])['sales_qty'].transform(lambda x: x / x.sum())
df['sales amt contribution by category'] = df.groupby(['category', 'month'])['sales_amt'].transform(lambda x: x / x.sum())
df['sales cost contribution by category'] = df.groupby(['category', 'month'])['sales_cost'].transform(lambda x: x / x.sum())
df['profit contribution by category'] = df.groupby(['category', 'month'])['profit'].transform(lambda x: x / x.sum())
df.head(6)

,month,product,store_code,category,sales_qty,sales_amt,sales_cost,profit,sales qty contribution by category,sales amt contribution by category,sales cost contribution by category,profit contribution by category
0,2025-01-25,ProdA,S001,Beverage,120,600,360,240,0.461538,0.461538,0.461538,0.461538
1,2025-01-25,ProdB,S001,Beverage,140,700,420,280,0.538462,0.538462,0.538462,0.538462
2,2025-01-25,ProdC,S002,Snack,180,720,450,270,0.545455,0.545455,0.548780,0.540000
3,2025-01-25,ProdD,S003,Snack,150,600,370,230,0.454545,0.454545,0.451220,0.460000
4,2025-01-25,ProdE,S004,Dairy,200,1000,650,350,0.666667,0.666667,0.670103,0.660377
5,2025-01-25,ProdF,S005,Dairy,100,500,320,180,0.333333,0.333333,0.329897,0.339623

In [5]:
# Round off contribution metrics to 2 decimal places
cols = ['sales qty contribution by category',
    'sales amt contribution by category',
    'sales cost contribution by category',
    'profit contribution by category']

df[cols] = df[cols].round(2)
df.head(6)

,month,product,store_code,category,sales_qty,sales_amt,sales_cost,profit,sales qty contribution by category,sales amt contribution by category,sales cost contribution by category,profit contribution by category
0,2025-01-25,ProdA,S001,Beverage,120,600,360,240,0.46,0.46,0.46,0.46
1,2025-01-25,ProdB,S001,Beverage,140,700,420,280,0.54,0.54,0.54,0.54
2,2025-01-25,ProdC,S002,Snack,180,720,450,270,0.55,0.55,0.55,0.54
3,2025-01-25,ProdD,S003,Snack,150,600,370,230,0.45,0.45,0.45,0.46
4,2025-01-25,ProdE,S004,Dairy,200,1000,650,350,0.67,0.67,0.67,0.66
5,2025-01-25,ProdF,S005,Dairy,100,500,320,180,0.33,0.33,0.33,0.34

In [6]:
# Alternative simpler method
df['sales qty contribution by category'] = (df['sales_qty'] / df.groupby(['category', 'month'])['sales_qty'].transform('sum')).round(2)
df['sales amt contribution by category'] = (df['sales_amt'] / df.groupby(['category', 'month'])['sales_amt'].transform('sum')).round(2)
df['sales cost contribution by category'] = (df['sales_cost'] / df.groupby(['category', 'month'])['sales_cost'].transform('sum')).round(2)
df['profit contribution by category'] = (df['profit'] / df.groupby(['category', 'month'])['profit'].transform('sum')).round(2)
df.head(6)

,month,product,store_code,category,sales_qty,sales_amt,sales_cost,profit,sales qty contribution by category,sales amt contribution by category,sales cost contribution by category,profit contribution by category
0,2025-01-25,ProdA,S001,Beverage,120,600,360,240,0.46,0.46,0.46,0.46
1,2025-01-25,ProdB,S001,Beverage,140,700,420,280,0.54,0.54,0.54,0.54
2,2025-01-25,ProdC,S002,Snack,180,720,450,270,0.55,0.55,0.55,0.54
3,2025-01-25,ProdD,S003,Snack,150,600,370,230,0.45,0.45,0.45,0.46
4,2025-01-25,ProdE,S004,Dairy,200,1000,650,350,0.67,0.67,0.67,0.66
5,2025-01-25,ProdF,S005,Dairy,100,500,320,180,0.33,0.33,0.33,0.34

In [7]:
# Create similar pivot table as in sql_test-expected excel sheet
pivot_table = df.pivot_table(
    index=['product', 'category'],
    columns='month',
    values=[
        'sales qty contribution by category',
        'sales amt contribution by category',
        'sales cost contribution by category',
        'profit contribution by category'
    ],
    aggfunc='sum'
)

# Swap levels so that month is on top
pivot_table.columns = pivot_table.columns.swaplevel(0, 1)

# Sort the index so months are in chronological order
pivot_table = pivot_table.sort_index(axis=1, level=0)

# Reorder metrics so that within each month:
metric_order = ['sales qty contribution by category',
    'sales amt contribution by category',
    'sales cost contribution by category',
    'profit contribution by category']

# Create a new MultiIndex order (month first, then metrics)
pivot_table = pivot_table.reindex(metric_order, axis=1, level=1)

# Format months to 'Jan-25'
pivot_table.columns = pivot_table.columns.set_levels(pivot_table.columns.levels[0].strftime('%b-%y'), level=0)

# Display the output
pivot_table.head()

month                                        Jan-25  \
                 sales qty contribution by category
product category
ProdA   Beverage                               0.46
ProdB   Beverage                               0.54
ProdC   Snack                                  0.55
ProdD   Snack                                  0.45
ProdE   Dairy                                  0.67

month                                                \
                 sales amt contribution by category
product category
ProdA   Beverage                               0.46
ProdB   Beverage                               0.54
ProdC   Snack                                  0.55
ProdD   Snack                                  0.45
ProdE   Dairy                                  0.67

month                                                 \
                 sales cost contribution by category
product category
ProdA   Beverage                                0.46
ProdB   Beverage                                0.54
ProdC   Snack                                   0.55
ProdD   Snack                                   0.45
ProdE   Dairy                                   0.67

month                                             \
                 profit contribution by category
product category
ProdA   Beverage                            0.46
ProdB   Beverage                            0.54
ProdC   Snack                               0.54
ProdD   Snack                               0.46
ProdE   Dairy                               0.66

month                                        Feb-25  \
                 sales qty contribution by category
product category
ProdA   Beverage                               0.52
ProdB   Beverage                               0.48
ProdC   Snack                                  0.52
ProdD   Snack                                  0.48
ProdE   Dairy                                  0.63

month                                                \
                 sales amt contribution by category
product category
ProdA   Beverage                               0.52
ProdB   Beverage                               0.48
ProdC   Snack                                  0.52
ProdD   Snack                                  0.48
ProdE   Dairy                                  0.63

month                                                 \
                 sales cost contribution by category
product category
ProdA   Beverage                                0.52
ProdB   Beverage                                0.48
ProdC   Snack                                   0.51
ProdD   Snack                                   0.49
ProdE   Dairy                                   0.63

month                                             \
                 profit contribution by category
product category
ProdA   Beverage                            0.52
ProdB   Beverage                            0.48
ProdC   Snack                               0.52
ProdD   Snack                               0.48
ProdE   Dairy                               0.64

month                                        Mar-25  \
                 sales qty contribution by category
product category
ProdA   Beverage                               0.48
ProdB   Beverage                               0.52
ProdC   Snack                                  0.54
ProdD   Snack                                  0.46
ProdE   Dairy                                  0.64

month                                                ...  \
                 sales amt contribution by category  ...
product category                                     ...
ProdA   Beverage                               0.48  ...
ProdB   Beverage                               0.52  ...
ProdC   Snack                                  0.54  ...
ProdD   Snack                                  0.46  ...
ProdE   Dairy                                  0.64  ...

month                                         Jun-25  \
                 sales cost contribution by category
product category
ProdA   Beverage                                0.55
ProdB   Beverage                                0.45
ProdC   Snack                                   0.53
ProdD   Snack                                   0.47
ProdE   Dairy                                   0.64

month                                             \
                 profit contribution by category
product category
ProdA   Beverage                            0.55
ProdB   Beverage                            0.45
ProdC   Snack                               0.52
ProdD   Snack                               0.48
ProdE   Dairy                               0.62

month                                        Jul-25  \
                 sales qty contribution by category
product category
ProdA   Beverage                               0.52
ProdB   Beverage                               0.48
ProdC   Snack                                  0.52
ProdD   Snack                                  0.48
ProdE   Dairy                                  0.62

month                                                \
                 sales amt contribution by category
product category
ProdA   Beverage                               0.52
ProdB   Beverage                               0.48
ProdC   Snack                                  0.52
ProdD   Snack                                  0.48
ProdE   Dairy                                  0.62

month                                                 \
                 sales cost contribution by category
product category
ProdA   Beverage                                0.52
ProdB   Beverage                                0.48
ProdC   Snack                                   0.52
ProdD   Snack                                   0.48
ProdE   Dairy                                   0.62

month                                             \
                 profit contribution by category
product category
ProdA   Beverage                            0.52
ProdB   Beverage                            0.48
ProdC   Snack                               0.53
ProdD   Snack                               0.47
ProdE   Dairy                               0.60

month                                        Aug-25  \
                 sales qty contribution by category
product category
ProdA   Beverage                               0.52
ProdB   Beverage                               0.48
ProdC   Snack                                  0.52
ProdD   Snack                                  0.48
ProdE   Dairy                                  0.64

month                                                \
                 sales amt contribution by category
product category
ProdA   Beverage                               0.52
ProdB   Beverage                               0.48
ProdC   Snack                                  0.52
ProdD   Snack                                  0.48
ProdE   Dairy                                  0.64

month                                                 \
                 sales cost contribution by category
product category
ProdA   Beverage                                0.52
ProdB   Beverage                                0.48
ProdC   Snack                                   0.53
ProdD   Snack                                   0.47
ProdE   Dairy                                   0.65

month
                 profit contribution by category
product category
ProdA   Beverage                            0.52
ProdB   Beverage                            0.48
ProdC   Snack                               0.51
ProdD   Snack                               0.49
ProdE   Dairy                               0.63

[5 rows x 32 columns]

In [8]:
# Export pivot table to Excel
pivot_table.to_excel('sql_test-expected (Python).xlsx')

In [9]:
# Option 2: Create the data using 2D-array by referring sql_test-raw sheet data
sql_test_raw = [
    ["Jan-25","ProdA","S001","Beverage",120,600,360],
    ["Jan-25","ProdB","S001","Beverage",140,700,420],
    ["Jan-25","ProdC","S002","Snack",180,720,450],
    ["Jan-25","ProdD","S003","Snack",150,600,370],
    ["Jan-25","ProdE","S004","Dairy",200,1000,650],
    ["Jan-25","ProdF","S005","Dairy",100,500,320],

    ["Feb-25","ProdA","S001","Beverage",130,650,390],
    ["Feb-25","ProdB","S002","Beverage",120,600,360],
    ["Feb-25","ProdC","S003","Snack",170,680,420],
    ["Feb-25","ProdD","S004","Snack",160,640,400],
    ["Feb-25","ProdE","S005","Dairy",190,950,600],
    ["Feb-25","ProdF","S006","Dairy",110,550,350],

    ["Mar-25","ProdA","S001","Beverage",140,700,420],
    ["Mar-25","ProdB","S002","Beverage",150,750,450],
    ["Mar-25","ProdC","S003","Snack",200,800,500],
    ["Mar-25","ProdD","S004","Snack",170,680,410],
    ["Mar-25","ProdE","S005","Dairy",210,1050,670],
    ["Mar-25","ProdF","S006","Dairy",120,600,360],

    ["Apr-25","ProdA","S002","Beverage",160,800,480],
    ["Apr-25","ProdB","S003","Beverage",130,650,390],
    ["Apr-25","ProdC","S004","Snack",190,760,460],
    ["Apr-25","ProdD","S005","Snack",180,720,440],
    ["Apr-25","ProdE","S006","Dairy",220,1100,700],
    ["Apr-25","ProdF","S007","Dairy",130,650,400],

    ["May-25","ProdA","S001","Beverage",150,750,450],
    ["May-25","ProdB","S002","Beverage",160,800,480],
    ["May-25","ProdC","S003","Snack",210,840,520],
    ["May-25","ProdD","S004","Snack",190,760,460],
    ["May-25","ProdE","S005","Dairy",230,1150,720],
    ["May-25","ProdF","S006","Dairy",140,700,430],

    ["Jun-25","ProdA","S002","Beverage",170,850,510],
    ["Jun-25","ProdB","S003","Beverage",140,700,420],
    ["Jun-25","ProdC","S004","Snack",200,800,480],
    ["Jun-25","ProdD","S005","Snack",180,720,430],
    ["Jun-25","ProdE","S006","Dairy",220,1100,680],
    ["Jun-25","ProdF","S007","Dairy",130,650,390],

    ["Jul-25","ProdA","S001","Beverage",160,800,480],
    ["Jul-25","ProdB","S002","Beverage",150,750,450],
    ["Jul-25","ProdC","S003","Snack",210,840,500],
    ["Jul-25","ProdD","S004","Snack",190,760,460],
    ["Jul-25","ProdE","S005","Dairy",240,1200,750],
    ["Jul-25","ProdF","S006","Dairy",150,750,450],

    ["Aug-25","ProdA","S001","Beverage",170,850,510],
    ["Aug-25","ProdB","S002","Beverage",160,800,480],
    ["Aug-25","ProdC","S003","Snack",220,880,530],
    ["Aug-25","ProdD","S004","Snack",200,800,470],
    ["Aug-25","ProdE","S005","Dairy",250,1250,780],
    ["Aug-25","ProdF","S006","Dairy",140,700,420],
]

# Convert to DataFrame
data = pd.DataFrame(sql_test_raw, columns=['month', 'product', 'store_id', 'category', 'sales_qty', 'sales_amt', 'sales_cost'])

# Convert 'month' column to datetime format (datetime64[ns])
data['month'] = pd.to_datetime(data['month'], format='%b-%y')
data['month'] += pd.DateOffset(days=24)  # Set day to 25th of the month
data.info()
data.head()

# To calculate profit and the 4 contribution metrics by category and month, simply replace 'df' with 'data' in the previous code cells.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   month       48 non-null     datetime64[ns]
 1   product     48 non-null     object
 2   store_id    48 non-null     object
 3   category    48 non-null     object
 4   sales_qty   48 non-null     int64
 5   sales_amt   48 non-null     int64
 6   sales_cost  48 non-null     int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 2.8+ KB

       month product store_id  category  sales_qty  sales_amt  sales_cost
0 2025-01-25   ProdA     S001  Beverage        120        600         360
1 2025-01-25   ProdB     S001  Beverage        140        700         420
2 2025-01-25   ProdC     S002     Snack        180        720         450
3 2025-01-25   ProdD     S003     Snack        150        600         370
4 2025-01-25   ProdE     S004     Dairy        200       1000         650